.amplify-form-section {
    margin-top: 30px !important;
}

.amplify-section-header {
    background-color: #333 !important;
    border-color: #333 !important;
    font-size: 24px !important;
}

.amplify-input {
    width: 100% !important;
    margin-bottom: 10px !important;
    height: 44px !important;
    font-size: 16px !important;
    border-radius: 6px !important;
    border: 1px solid #d9d9d9 !important;
    border-top: 1px solid #c0c0c0 !important;
    box-sizing: border-box !important;
    -webkit-appearance: none !important;
    background: #fff !important;
    padding: 10px !important;
}

.amplify-button {
	width: 100% !important;
	margin-bottom: 5px !important;
    background-color: #333 !important;
    color: #fff !important;
}

.amplify-a {
    color: #333 !important;
}

.container {
	margin-top: 5%;
}

#forgot-password {
	margin-left: 10px;
}

.helper-button {
	border: none;
    background: none;
}

.helper-button:hover {
	text-decoration: underline;
}

.btn-info {
    background-color: #333 !important;
    border-color: #333 !important;
}

.btn-info:hover {
    border-color: #FF9900 !important;
}

.btn-success {
    background-color: #FF9900 !important;
    border-color: #FF9926 !important;
}

.btn-success:hover {
    border-color: #333 !important;
}

body {
    color: #333 !important;
}

a:hover {
    color: #FF9900;
}